

@import "../../Global.scss";

.aboutmaindiv{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    // border: 1px solid red;
    
}
.heading{
    font-size: 36px;
    margin: auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-weight: bold;
//   font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-family: buntu, sans-serif;
    text-align: center;
    letter-spacing: normal;
    line-height: 43.2px;
}

.aboutContent{
    // border: 1px solid red;
    height: auto;
    display: flex;
    gap: 20px;
    @include mobile{
        flex-direction: column;
        align-items: center;
      }
}
.aboutGif   {
    // border: 1px solid green;
    width: 30%;
    gap: 10px;
    margin: auto;
    height: 90%;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    @include mobile{
        width: 90%;
        align-items: center;
      }
}
.aboutGif img{
    margin: auto;
}
.aboutInfo{
    // border: 1px solid rgb(128, 49, 0);
    width: 60%;
    gap: 10px;
    margin: auto;
    height: 90%;
    padding: 2%;
    @include mobile{
        width: 90%;
        align-items: center;
      }
}
 
.aboutInfoUl{
    width: 100%;
    // border: 1px solid red;
    text-align: start;
    font-size: 2rem;
}
.aboutInfoli{
    // border: 1px solid white;
    margin-bottom: 14px;
}