.prodiv{
    // border: 1px solid red;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: auto;
}
@import "../../Global.scss";
.heading{
    @include mobile{
        font-size: 22px;
        // border: 1px solid red;
        width: 100%;
      }
}
.proItemdiv{
    width: 90%;
    height: 580px;
    // border: 1px solid black;
    margin: auto;
    border-radius: 10px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    flex-direction: column;
    @include mobile{
        width: 95%;
        height: 550px;
        
      }
}

.proImg{
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
//    border: 1px solid red;
    height: 350px;
    @include mobile{
        height: 280px;
         border-top-left-radius: 8px;
      }
}

.title{
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    // border: 1px solid rgb(11, 10, 10);
}

.LinkDiv{
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-around;
    width: 100%;
    @include mobile{
        justify-content: space-around;
        margin-top: 5px;
        // border: 1px solid rgb(11, 10, 10);
      }
}
.LinkDiv button{
    height: 40px;
    display: flex;
 gap: 10px;
    padding: 10px;
 
    font-size: 20px;
    border-radius: 6px;
    margin: auto;
    color: white;
   background-color: rgb(242, 33, 9);
// background-color: rgb(238, 60, 60);
   @include mobile{
    padding: 8px;
    font-size: 15px;
    gap: 7px;
    height: 35px;
   
  }
}
.LinkDiv button span{
    margin: auto;
 margin-top: -5px;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 @include mobile{
    margin-top: -3px;
  }
}
.LinkDiv button:hover{
  background-color: rgb(201, 26, 7);
}

.details{
    font-size: 18px;
    text-align: center;
    padding: 10px;
    text-align: start;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   @include mobile{
      
    // border: 1px solid rgb(11, 10, 10);
    font-size: 15px;
    padding: 8px;
    text-align: start;
  }
}

.techStack{
    display: flex;
    // border: 1px solid rgb(11, 10, 10);
    flex-direction: row-reverse;
    width: 100%;
    padding: 5px 17px;
    gap: 10px;
    box-shadow: rgba(17, 17, 18, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(47, 49, 50, 0.35) 0px -2px 6px 0px inset;
    // border: 1px solid red;
    @include mobile{
        padding: 5px 10px;
        gap: 7px;
      }
}
 .techStack p{
    font-size: 19px;
    @include mobile{
        font-size: 13px;
        
      }
 }
 .tech{
    color: red;
    font-weight: bolder;
    @include mobile{
        font-size: 5px;
         
      }
 }