@import "../../Global.scss";


.heading {
  font-size: 36px;
  margin: auto;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-weight: bold;
  //   font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: buntu, sans-serif;
  text-align: center;
  letter-spacing: normal;
  line-height: 43.2px;
}
.skillsDiv {
//   border: 1px solid red;
  padding: 2%;
}
.skillsLogo {
  // border: 1px solid green ;
 
  padding: 10%;
  
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   
}
.skillimg {
  height: 60px;
  margin: auto;
  
}
.skillsLogo:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  cursor: pointer;
}
